.costumCard{
    padding: 30px;
    &__info{
        padding: 20px;
        a{
            text-decoration: none;
            color: rgb(98, 72, 153);
            font-size: 25px;
            padding-bottom: 10px;
        }
    }
    &__main{
        box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    }
}